.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#Sertifikat {
  background-color: #e2edff;
}
#Skill {
  background-color: #e2edff;
}
#footer {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
